@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap);

#mynavbar {
    background-image: linear-gradient(to right top, #ff34a7, #ed1ab0, #d700b9, #bb00c4, #9900ce, #c800b8, #e800a2, #fe008d, #ff4656, #ff8c00, #f8ca00, #b2ff00);
    background-size: cover;
    color: #ffffff;
    background-attachment: fixed;    
}

.container-fluid {
    padding: 3% 15%;
}

.navbar-brand {
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #fff;
}

.navbar-nav {
    margin-left: auto;
}

.text_img {
    padding-top: 4rem;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.5;
}

button {
    margin: 1rem;
}

.iphone {
    transform: rotate(20deg);
    width: 20%;
    position: absolute;
}

#comfort {
    text-align: center;
    padding: 7% 10%;
    position: relative;
    background-color: #fff;

}

.comfort_box {
    padding: 1rem;
}

.comfort_box i {
    color: rgb(238, 75, 102);
}

.comfort_box i:hover {
    color: rgb(138, 4, 29);
}

a {
    text-decoration: none;
}

.comfort_box h3 {
    padding-top: 1rem;
    font-family: Montserrat, sans-serif;
    color: rgb(39, 29, 29);
    font-weight: 700;
}

.comfort_box p {
    color: #8f8f8f;
    font-weight: 500;
}